<section>
  <% @surveys.each do |survey| %>
    <div class="field">
      <%= survey.name %>
      <% unless survey_completed?(current_user, survey) %>
        <%= link_to "Take", new_take_surveys_path(survey.id) %>
      <% else %>
        Completed.
      <% end %>
      <%= link_to "Show", take_survey_path(survey.id) %>
    </div>
  <% end %>
</section>
