<section id="users-listing">
  <%= form_tag root_path, :method => :get, :id => "user_search", :remote => true do %>
    <%= text_field_tag :search, params[:search], :size => 24 %>
  <% end %>

  <div id="user-list-content">
    <div id="user-result">
      <%= render :partial => "shared/user_search/list_simple" %>
    </div>
  </div>
</section>
<section id="user_flyout">
  <div id="user_flyout_menu">
    <ul>
      <li>New</li>
      <li>Search</li>
      <li class="hide"><<</li>
    </ul>
  </div>
</section>
