<section id="users-listing">
  <%= form_tag root_path, :method => :get, :id => "user_search", :remote => true do %>
    <%= text_field_tag :search, params[:search], :size => 15 %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>

  <div id="user-list-content">
    <div id="user-result">
      <%= render :partial => "shared/user_search/list_simple" %>
    </div>
  </div>
</section>
