<%= content_for :user_links do %>
  <% if can? :manage, User %>
  <nav class="round short">
    <ul>
      <% if can? :index, User %>
        <li><%= link_to "Users Index", users_path %></li>
      <% end %>
      <% if can? :create, User %>
        <li><%= link_to "Create New User", new_user_path %></li>
      <% end %>
    </ul>
  </nav>
  <div class="clear"></div>
  <% end %>
<% end %>
