<nav class="round short">
  <ul>
    <% if can? :index, User %>
      <li><%= link_to "Users Index", users_path %> |</li>
    <% end %>
    <% if can? :create, User %>
      <li><%= link_to "Create New User", new_user_path %></li>
    <% end %>
    <% if can? :edit, User %>
      <li><%= yield :user_edit_links if content_for? :user_edit_links %></li>
    <% end %>
    <% if can? :show, User %>
      <li><%= yield :user_show_links if content_for? :user_show_links %></li>
    <% end %>
  </ul>
</nav>
<div class="clear"></div>
