<nav class="round short">
  <ul>
    <% if can? :manage, User %>
      <li><%= link_to "Users Index", users_path %></li>
    <% end %>
    <% if can? :create, User %>
      <li><%= link_to "Create New User", new_user_path %></li>
    <% end %>
    <% if can? :edit_my_details, User %>
      <li><%= link_to "Change My Details", edit_my_details_path %> | </li>
    <% end %>
    <% if can? :edit_password, User %>
      <li><%= link_to "Change Password", edit_user_password_path %></li>
    <% end %>
  </ul>
</nav>
<div class="clear"></div>
