// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#selectable {
  list-style-type: none;
  margin: 0 auto;
  padding: 0em;
  li {
    margin: 0 auto;
    padding: 0.2em;
    font-size: 1em;
    text-align: center;
    width: 80%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .ui-selecting {
    background: #FECA40;
  }
  .ui-selected {
    background: #F39814;
    color: white;
  }
}

section {
  &#users-listing {
    border: 1px solid black;
    width: 28%;
    height: 35em;
    text-align: center;
    margin: 0em;
    margin-bottom: 1em;
    padding: 0em;
    overflow-y: scroll;
    .pagination {
      text-align: center;
    }
  }
  &#result {
    border: 1px solid black;
    width: 68%;
    padding: 0.5em;
    margin: 0;
  }
  &#user-flyout {
    background-color: orange;
    width: 20px;
    height: 35em;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 28.5%;
  }
  &#master {
    margin: 0 auto;
    margin-bottom: 1em;
  }
}
div {
  &#foo {
    width: 4em;
    height: 35em;
    background-color: orange;
    padding: 0;
    margin: 0;
    position: absolute;
    &li {
      list-style-type: none;
      position: relative;
      right: 2em;
      padding: 0;
      padding-top: 0.5em;
      margin: 0;
      text-align: left;
    }
  }
}
