// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.short {
  width: 20%;
  margin-top: 1em;
}
.left {
  text-align:left;
}
header {
  margin-bottom: 1em;
  margin-top: 1em;
}
#links {
  clear: left;
  float: left;
}
#current_user {
  clear: right;
  float: right;
}
#current_user a {
  font-weight: bold;
  padding: 0 5px;
  color: #09c;
}
.clear {
  clear: both;
}
